# ===== Ansible =====
.vault_pass
*.vault_pass
vault-password-file

# ===== Compilados =====
*.class
*.jar
*.dex
*.apk
*.iml
*.log
*.tmp

# ===== Build =====
**/build/
**/target/
**/.gradle/
**/out/
**/__pycache__/
**/node_modules/
**/dist/
**/bin/

# ===== IDEs =====
.idea/
.vscode/
.settings/
.project
.classpath

# ===== Sistema =====
.DS_Store
Thumbs.db
desktop.ini

# ===== Backups =====
*.bak
*.backup
